.nav {
  float: right;
  width: 40%;
  display: flex;
  justify-content: space-around;
  padding: 30px;

  font-size: 120%;
}

.link:hover span{
  font-weight: bold;
}

.link:hover{
  background: -webkit-linear-gradient(left, #3e30a6, #7adcff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline !important;
  text-underline-offset: 10px;
}

.link {
  padding: 10px;
  color: #939494;
}

.active{
  color: black;
  font-weight: bold;
  text-decoration: underline !important;
  text-underline-offset: 10px;
  pointer-events: none;
 }